.logo {
    height: 25px;
}

.navbar {
    color: white;
    text-decoration: none;

}

.navbar:hover {
    color: rgb(220, 117, 117);
}

.signout-btn {
    /* background-color: rgb(225, 66, 66); */
    border: 0;
    /* border: 1px solid white; */
    border-radius: 5px;
    color: white;
    padding: 2px;
    margin-left: 5px;
}