.banner {
    background-image: url(../../images/bannerbackground.png);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.banner-title {
    text-align: center;
    padding-top: 50px;
}

.search-bar {
    border-radius: 5px;
    border: 1px solid lightslategray;
}

.search-btn {
    background-color: rgb(225, 66, 66);
    border: 0;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.meal {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-left: 60px;
}

.meal:hover {
    color: gray;
}